[submodule "ffmpeg"]
	path = nativePlayer/vendor/ffmpeg
	url = https://github.com/BadFish-HSrui/FFmpeg.git
[submodule "mpv"]
	path = nativePlayer/vendor/mpv
	url = https://github.com/BadFish-HSrui/mpv.git
